#menu-action {
    position: fixed;
    z-index: 4;
}

.top-menu {
    display: flex;
}

.title {
    user-select: none;
    flex: 1;
    width: auto;
    cursor: pointer;
}

.title:hover {
    opacity: 0.9;
}

.header-card {
    display: flex;
    flex-direction: column;
}

.page-count {
    display: flex;
    width: 100%;
}

.load-button {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.image-book {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}


/** Animations **/

.flip-list-move {
    transition: transform 1s;
}

.up-enter-active,
.up-leave-active {
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
}

.up-enter,
.up-leave-to {
    opacity: 0;
    transform: translateY(56px);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}